.git/
.idea/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
__pycache__/
*.py[cod]

.env
outputs/
multirun/

archive/
data.tar.gz
data/raw/**
data/processed/**
data/external/**

models/
*.ckpt
*.onnx
*.pt
*.pth
